/*maqueteando con bootstrap*/
.bg-pablo {
    background-color: black;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.img {
    width: 100%;
    height: auto;
}

/*Media queries mobile*/


@media only screen and (max-width: 480px) {
    .staffaside {
        background-color: blue;
    }
}

/*Mobie query desktop*/

@media only screen and (max-width: 961px) {
    .staffaside {
        background-color: grey;
    }
}